<#--
 * description: 模板文件上传选择界面
 * version: 1.0 
 * author:chengye.hu@hand-china.com
 * #{copyright}#
 * 
-->
<#include "../include/head.html">
<body style="padding: 10px;">
<script src="${base.contextPath}/common/code?resourceTypeData=RPT.TEMPLATES_TYPE" type="text/javascript"></script>
    <form id="templateForm"></form>
    <div id="templateGrid"></div>
    <script type="text/javascript">
    $(function() {
    	function f_save() {
            Hap.submitForm({
                form:form,
                url:'${base.contextPath}/rpt/template/submit',
                success:function(json,opt){
                    $.ligerDialog.success("<@spring.message "hap.tip.success"/>", '<@spring.message "hap.tip.info"/>', function(){
                        f_cancel();
                    });
                }
            });
        }
        function f_cancel() {
            var dialog = frameElement.dialog;
            dialog.close();
        }
        Hap.setFormDefaultBtn(f_cancel, f_save);
        
    var form = window["myReportForm"] = $("#templateForm").ligerForm({
            fields : [ {
                type : 'text',
                label : '<@spring.message "hps.rpt.template.name"/>',
                name : 'templateName',
                newline : false,
                validate: {
                    required: true
                }
            }, {
                type : 'text',
                label : '<@spring.message "hps.rpt.template.type"/>',
                name : 'templateType',
                newline : false,
                validate: {
                    required: true
                }
            }, {
            	type : 'hidden',
                name : 'fileId'
            }, {
            	type : 'hidden',
                name : 'reportId'
            } ],
            buttons : [
            {             
                    text    : '<@spring.message "hps.rpt.template.uploadtemplatefile"/>',
                    disabled: false,
                    width   : 100,
                    click   : function () {
                        $.ligerDialog
						.open({
							url : 'report_file_upload.html',
							title : '模板文件选择',
							height : 350,
							width : 650,
							isResize : true
						});
                    }
            }]
        });
        var formData = myReportForm.getData();
        formData.reportId = ${RequestParameters.reportId};
        formData.templateType = 'HTML';
        myReportForm.setData(formData);
        
        window['templateGrid'] = $("#templateGrid").ligerGrid({
            unSetValidateAttr: false,
            columns          : [{
                name   : 'templateId',
                hide   : true,
                width  : '1%'
            }, {
                name   : 'reportId',
                hide   : true,
                width  : '1%'
            }, {
                display: '<@spring.message "hps.rpt.template.name"/>',
                name   : 'templateName',
                align  : 'center',
                width  : '18%'
            }, {
                display: '<@spring.message "hps.rpt.template.type"/>',
                name   : 'templateType',
                align  : 'center',
                width  : '18%'
            }, {
                display: '<@spring.message "rpt.template.filename"/>',
                name   : 'fileName',
                align  : 'center',
                width  : '18%'
            }, {
                display: '<@spring.message "rpt.template.filepath"/>',
                name   : 'filePath',
                align  : 'center',
                width  : '35%'
            }],
            url              : '${base.contextPath}/rpt/template/query?reportId='+${RequestParameters.reportId},
            toolbar          : {
                items: [{
							text : '<@spring.message "hap.delete"/>',
							click : function() {
								Hap.gridDelete({
									grid : templateGrid,
									url : '${base.contextPath}/rpt/template/delete'
								})
							},
							icon : 'delete'
						}]
            },
            enabledEdit      : true,
            checkbox         : true,
            width            : '100%',
            height           : '99%'
        });
	});
    </script>
</body>
</html>
