<#include "../include/head.html">
<body style="padding: 15px">
	<div id="plug_versions" style="margin-left: 2px; margin-top: 2px;"></div>
	<script type="text/javascript">
    
		function close() {
	    	var dialog = frameElement.dialog;
	        dialog.close();
	    }
	    var buttons = [];
	    buttons.push({
	        text : '<@spring.message "hps.close"/>',
	        id:'form_btn_close',
	        onclick : close
	    });
	      
	    //表单底部按钮 
	    Hap.addFormButtons(buttons);
		
		window.downloadInfo = function (id) {
            window.popWin = $.ligerDialog.open({
                load  : false,
                width : 400,
                height: 260,
                title     : '<@spring.message "hps.fnd.plugs.download_purpose"/>',
                url   : 'plugs_versions_download_info.html?plugId=${RequestParameters.plugId}&plugVersionId='+id
            });
        }
        
        plug_versions = $("#plug_versions").ligerGrid({
            columns : [{
                display : '<@spring.message "hps.fnd.plugs.version_number"/>',
                name : 'versionNumber',
                 width : 100,
                align : 'left',
                editor : {
                    type : ''
                }
            }, {
                display : '<@spring.message "hap.fnd.plugs.download_count"/>',
                name : 'downloadCount',
                 width : 100,
                align : 'left',
                editor : {
                    type : ''
                }
            }, {
                display : '<@spring.message "sysfile.uploaddate"/>',
                name : 'uploadDate',
                 width : 100,
                align : 'left',
                editor : {
                    type : ''
                }
            },{
                display : '<@spring.message "sysfile.filesize"/>',
                name : 'fileSize',
                 width : 100,
                align : 'left',
                editor : {
                    type : ''
                }
            },{
                display: '<@spring.message "hap.action"/>',
                width  : 80,
                align  : 'center',
                render : function (rowdata) {
                	if (!!rowdata.plugVersionId) {
                		//return '<a target="_blank" href="${base.contextPath}/fnd/plugs/download?sourceKey='+rowdata.plugVersionId+'"><@spring.message "hps.download"/></a>'
                		return '<a onclick="downloadInfo(' + rowdata.plugVersionId + ')"><@spring.message "hps.download"/></a>'
                    }
                }
            }],
            showToggleColBtn : false,
            width : '99%',
            height : '89%',
            enabledEdit : true,
            onBeforeEdit:function(e){
				if(e.column.columnname == 'lookupCode')
					return e.record.__status == 'add';
				return true;
			},
             url: '${base.contextPath}/fnd/download/plugVersions/query?plugId=${RequestParameters.plugId}', 

            
        });
    </script>
</body>
</html>