<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hps.rpt.mapper.ReportParameterMapper">
	<resultMap id="baseResult" type="hps.rpt.dto.ReportParameter">
		<id column="parameter_id" property="parameterId" jdbcType="DECIMAL" />
		<result column="report_id" property="reportId" jdbcType="DECIMAL" />
		<result column="sqlcol_name" property="sqlcolName" jdbcType="VARCHAR" />
		<result column="data_type" property="dataType" jdbcType="VARCHAR" />
		<result column="parameter_sql" property="parameterSql"
			jdbcType="CLOB" />
		<result column="filed_type" property="filedType" jdbcType="VARCHAR" />
		<result column="filed_display" property="filedDisplay"
			jdbcType="VARCHAR" />
		<result column="required_flag" property="requiredFlag"
			jdbcType="VARCHAR" />
		<result column="row_num" property="rowNum" jdbcType="DECIMAL" />
		<result column="date_format" property="dateFormat" jdbcType="VARCHAR" />
		<result column="filed_code" property="filedCode" jdbcType="CLOB" />
		<result column="text_filed" property="textFiled" jdbcType="VARCHAR" />
		<result column="value_filed" property="valueFiled" jdbcType="VARCHAR" />
		<result column="object_version_number" property="objectVersionNumber"
			jdbcType="DECIMAL" />
		<result column="creation_date" property="creationDate"
			jdbcType="DATE" />
		<result column="created_by" property="createdBy" jdbcType="DECIMAL" />
		<result column="last_updated_by" property="lastUpdatedBy"
			jdbcType="DECIMAL" />
		<result column="last_update_date" property="lastUpdateDate"
			jdbcType="DATE" />
		<result column="last_update_login" property="lastUpdateLogin"
			jdbcType="DECIMAL" />
		<result column="attribute_category" property="attributeCategory"
			jdbcType="VARCHAR" />
		<result column="attribute1" property="attribute1" jdbcType="VARCHAR" />
		<result column="attribute2" property="attribute2" jdbcType="VARCHAR" />
		<result column="attribute3" property="attribute3" jdbcType="VARCHAR" />
		<result column="attribute4" property="attribute4" jdbcType="VARCHAR" />
		<result column="attribute5" property="attribute5" jdbcType="VARCHAR" />
		<result column="attribute6" property="attribute6" jdbcType="VARCHAR" />
		<result column="attribute7" property="attribute7" jdbcType="VARCHAR" />
		<result column="attribute8" property="attribute8" jdbcType="VARCHAR" />
		<result column="attribute9" property="attribute9" jdbcType="VARCHAR" />
		<result column="attribute10" property="attribute10" jdbcType="VARCHAR" />
		<result column="attribute11" property="attribute11" jdbcType="VARCHAR" />
		<result column="attribute12" property="attribute12" jdbcType="VARCHAR" />
		<result column="attribute13" property="attribute13" jdbcType="VARCHAR" />
		<result column="attribute14" property="attribute14" jdbcType="VARCHAR" />
		<result column="attribute15" property="attribute15" jdbcType="VARCHAR" />

	</resultMap>

	<select id="selectId" resultType="Long">
		select hps_rpt_report_parameters_s.nextval from dual
	</select>
	
	<insert id="insertExm" parameterType="hps.rpt.dto.ReportParameter">
		insert into hps_rpt_report_parameters
		(
			PARAMETER_ID,
			REPORT_ID,
			SQLCOL_NAME,
			DATA_TYPE,
			PARAMETER_SQL,
			FILED_TYPE,
			FILED_DISPLAY,
			REQUIRED_FLAG,
			ROW_NUM,
			DATE_FORMAT,
			FILED_CODE,
			TEXT_FILED,
			VALUE_FILED,
			OBJECT_VERSION_NUMBER
		)values(
			#{parameterId  ,jdbcType=DECIMAL }, 
			#{reportId,jdbcType=DECIMAL },
			#{sqlcolName,jdbcType=VARCHAR },
			#{dataType,jdbcType=VARCHAR },
			#{parameterSql,jdbcType=CLOB },
			#{filedType,jdbcType=VARCHAR },
			#{filedDisplay,jdbcType=VARCHAR },
			#{requiredFlag,jdbcType=VARCHAR },
			#{rowNum,jdbcType=DECIMAL },
			#{dateFormat,jdbcType=VARCHAR },
			#{filedCode,jdbcType=VARCHAR },
			#{textFiled,jdbcType=VARCHAR },
			#{valueFiled,jdbcType=VARCHAR },
			1
		)

	</insert>


	<select id="isUniqueRowNum" resultType="Integer">
		SELECT count(1)
		  FROM hps_rpt_report_parameters p
		 where report_Id = #{reportId,jdbcType=DECIMAL} group by row_Num
		
	</select>
</mapper>